.lowHealth {
	animation: pulse 1.5s ease 0s infinite normal ;
}

@keyframes pulse {
	0%{
	transform: scale(1);
	}
	50%{
	transform: scale(0.95);
	}
	100%{
	transform: scale(1);
	}
}

.fullHealth {
	
	animation: glow 1.5s ease 0s infinite normal ;
}

@keyframes glow {
	0%{
		box-shadow: 0px 0px 4px 2px rgba(40,167,69,0.5);
	}
	50%{
		box-shadow: 0px 0px 4px 5px rgba(40,167,69,0.5);
	}
	100%{
		box-shadow: 0px 0px 4px 2px rgba(40,167,69,0.5);
	}
}


.saveThrows { padding: 0; width: 14%; }

.successThrow {  }

.failThrow {  }