/**
 * Bootstrap overrides and tweaks
 */

 .card-body { padding: 1rem 0.75rem; }

 .table th, 
 .table td { vertical-align: middle; }

@media (max-width: 576px) { 
	.table th, 
	.table td { padding: 0.5rem; }
}

/**
 * Custom Classes
 */

.touch-icon { cursor: pointer; padding: 0 !important; user-select: none; }
.touch-row { cursor: pointer; user-select: none; }