/**
 * Bootstrap overrides and tweaks
 */

 .btn { padding: 0.375rem 0.5rem; }

 .card-body { padding: 1rem 0.75rem; }

 .table th, 
 .table td { vertical-align: middle; }

@media (max-width: 576px) { 
	.table th, 
	.table td {  }

	.card { border: 0; }
	.card-body { padding: 1rem 0rem; }
}


/**
 * Custom Classes
 */

.touch-icon { cursor: pointer; padding: 0 !important; user-select: none; }
.touch-row { cursor: pointer; user-select: none; }



/**
 * FORMS
 */

input.invalid { border: 1px solid #dc3545; }
.invalid-text { font-size: 12px; color: #dc3545; margin-top: 4px; margin-left: 4px; }