/**
 * Bootstrap overrides and tweaks
 */

 .table th, 
 .table td { vertical-align: middle; }

@media (max-width: 576px) { 
	.table th, 
	.table td { padding: 0.5rem; }
}


.touch-icon { cursor: pointer; padding: 0 !important; }